.line{
    border-left: 3px solid lightgray;
    height: 256px;
    width: 3px;
    position: absolute;
    left: 50%
}
.mobile_line1{
    border-bottom: 3px solid lightgray;
    margin-top: 253px;
    height: 0;
    width: 88%;
    position: absolute;
}
.desktop_line1{
    height: 0;
}
.desktop_line2{
    height: 0;
}
.mobile_line2{
    border-bottom: 3px solid lightgray;
    top: 1767px;
    height: 0;
    width: 88%;
    position: absolute;
}
.image{
    height:320px;
    width:100%;
    float:left;
    border : 1px solid lightgrey;
    background-color:#E9EEF6;
}
.standard{
    height:230px;
    width:100%;
    float:left;
    border : 1px solid lightgrey;
    background-color:#E9EEF6;
}
.logoImg{
    margin-left:15px;
    float:left;
}
.main{
    text-align:center;
}
/*desktop_chart_name-lg,xl */
#c_name_1{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-left:15px;
    margin-right:15px;
}
#c_name_2{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-left:15px;
    margin-right:15px;
}
#c_name_3{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-left:15px;
    margin-right:15px;
}
#c_name_4{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-left:15px;
    margin-right:15px;
}
#c_name_5{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-left:15px;
    margin-right:15px;
}
#c_name_6{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-left:15px;
    margin-right:15px;
}

/*mobile_chart_name_상위요인 중요도-xs,sm,md */
#m_c_name_1{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 8px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}
#m_c_name_1-2{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 8px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}
#m_c_name_1-3{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 8px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}

/*mobile_chart_name_상위요인 적합성-xs,sm,md */
#m_c_name_2{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 20px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}
#m_c_name_2-2{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 20px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}
#m_c_name_2-3{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 20px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}

/*mobile_chart_name_하위변수 정규분포-xs,sm,md */
#m_c_name_3{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 25px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}
#m_c_name_3-2{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 25px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}
#m_c_name_3-3{
    border:3px solid lightgray;
    background-color: #D6DEEF;
    font-weight: bolder;
    border-radius: 22px;
    margin-top: 25px;
    margin-left:15px;
    margin-right:15px;
    width:95%;
}

.def_header{
    height: 80px;
}
.chart{
    margin-left:15px;
    margin-right:15px;
    border: 3px solid lightgray;
    border-radius: 22px;
}
.me-1{
    height: 60px;
    background-color: #E9EEF6;
    color:black;
    font-weight: bolder;
    float: right;
    margin-top: 8px;
    width:auto;
}
.map_{
    border:3px solid lightgray;
    border-radius: 22px;
}
body{
    background-color:#F3F5F9;
    font-family: 'NanumSquare';
}

@font-face {
    font-family: 'NanumSquare';
    src: url('../assets/NanumSquare.woff') format('truetype');
}

@media(min-width:320px){ /*xs*/

    .standard{
        height:250px;
    }
    .line{
        height: 290px;
        margin-top: 40px;
    }
    .mobile_line1{
        margin-top: 330px;
        width: 90%;
    }
    .mobile_line2{
        top: 1838px;
        width: 90%;
    }
}
@media(min-width:480px){ /*sm*/
    .mobile_line1{
        width: 93%;
    }
    .mobile_line2{
        width: 93%;
    }
}
@media(min-width:600px){ /*md*/
    .mobile_line1{
        width: 95%;
    }
    .mobile_line2{
        width: 95%;
    }
}
@media(min-width:768px){ /*lg*/

    .mobile_line1{
        width: 96%;
    }
    .mobile_line2{
        width: 96%;
    }
}
@media(min-width:992px){ /*xl*/

    .standard{
        height:320px;
    }
    .line{
        border-left: 3px solid lightgray;
        margin-top: 0;
        height: 690px;
        width: 3px;
        position: absolute;
        left: 33.6%
    }
    .desktop_line1 {
        border-top: 3px solid lightgray;
        height: 0;
        left: 1.3%;
        width: 32.3%;
        position: absolute;
        top: 465px;
    }
    .desktop_line2{
        border-left: 3px solid lightgray;
        height: 690px;
        width: 3px;
        position: absolute;
        left: 66.25%
    }
    .mobile_line1{
        border-bottom: 0;
        width: 0;
    }
    .mobile_line2{
        border-bottom: 0;
        width: 0;
    }
}
/*@media(min-width:1024px){*/
/*}*/
/*@media(min-width:1280px){*/
/*}*/
/*@media(min-width:1440px){*/
/*}*/